.DS_Store
applet
application.linux-arm64
application.linux-armv6hf
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
out
WheelV1/windows-amd64/
WheelV1/libraries/
WheelV1/*.autosave
WheelV1/LinuxWheelRelease.zip
WheelV1/WindowsWheelRelease.zip
WheelV1/linux-amd64/